
.app-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 40px;
  row-gap: 30px;
 max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 100px;
  justify-content: center; 
 
}

